<html>
    <head>
        <!--Usar o CSS definido em src/app/Employee/employee-edit/employee-edit.component.css-->
        <link rel="stylesheet" href="employee-edit.component.css">
    </head>
    <body>
        <div class="card" *ngIf="employee">
            <h1>Employee Edit</h1>
            <div class="item-form">
                <div class="txt-field">
                    <input id="form-place" placeholder="Name" [(ngModel)]="employee.name" type="text">
                    <label for="form-place">Name</label>
                </div>
                <div class="txt-field">
                    <input id="form-max" placeholder="Email" [(ngModel)]="employee.email" type="text">
                    <label for="form-max">Email</label>
                </div>
                <div class="txt-field">
                    <input disabled id="form-limit" placeholder="Role" [(ngModel)]="employee.role" type="text">
                    <label for="form-limit">Role</label>
                </div>
                <button class="buttons center" (click)="edit()"> Edit </button>
                <button class="buttons center" (click)="navigateToEmployees()"> List Employees </button>                
            </div>
        </div>
    </body>
</html>



