<html>
    <head>
        <!--Usar o CSS definido em src/app/Book/book-list/book-list.component.css-->
        <link rel="stylesheet" href="book-list.component.css">
    </head>
    <body (mouseenter)="setRoleTemp()" (mouseleave)="setRoleTemp()">

        <!--Criar uma divisão da classe table definida no CSS (Book/book-list/book-list.component.css)-->
        <div class="table" id="itemTable" *ngIf="books">

            <!--Título da lista-->
            <h1 class="text-center">Book List</h1>
        
            <!--Criar uma linha da classe row-->
            <div class="row">
                <!--Cria uma coluna da classe col-md center-->
                <div class="col-md center"></div>

                <!--Cria uma coluna da classe col-md center para o nome (name) do livro (book)-->
                <div class="col-md center">
                    Name
                </div>

                <!--Cria uma coluna da classe col-md center para a descrição (description) do livro (book)-->
                <div class="col-md center">
                    Description
                </div>

                <!--Cria uma coluna da classe col-md center para o nome do autor (author) do livro (book)-->
                <div class="col-md center">
                    Author
                </div>

                <!--Cria uma coluna da classe col-md center para o ISBN do livro (book)-->
                <div class="col-md center">
                    ISBN
                </div>

                <!--Cria uma coluna da classe col-md center para o preço (price) do livro (book)-->
                <div class="col-md center">
                    Price
                </div>
                <div class="col-md center">
                    State
                </div>
                <div class="col-md center">
                    Stock
                </div>

                <!--Cria colunas da classe col-md center-->
                <div class="col-md center"></div>
                <div class="col-md center"></div>
                <div class="col-md center"></div>
                <div class="col-md center"></div>
                
            </div>
        
            <div class="row" *ngFor="let book of books; let i=index;">
                <div class="col-md center">
                    {{i+1}}
                </div>
                <div class="col-md center">
                    {{book.name}}
                </div>
                <div class="col-md center">
                    {{book.description}}
                </div>
                <div class="col-md center">
                    {{book.author}}
                </div>
                <div class="col-md center">
                    {{book.isbn}}
                </div>
                <div class="col-md center">
                    {{book.price}}
                </div>
                <div class="col-md center">
                    {{book.state}}
                </div>
                <div class="col-md center">
                    {{book.stock}}
                </div>

                <!--Cria uma coluna da classe col-md center-->
                <div class="col-md center">
                    <!--Cria um butão com a opção de ver os detalhes (view details) de um livro (book)-->
                    <button class="view-button" title="view book" (click)="view(book._id)">
                        View Details
                    </button>
                </div>

                <!--Cria uma coluna da classe col-md center-->
                <div *ngIf="adminOrEmployee" class="col-md center">
                    <!--Cria um butão com a opção de editar (edit) a informação de um livro (book)-->
                    <button class="edit-button" title="edit book" (click)="editBook(book._id)">
                        Edit
                    </button>
                </div>

                <!--Cria uma coluna da classe col-md center-->
                <div *ngIf="adminOrEmployee" class="col-md center">
                    <!--Cria um butão para a opção de apagar (delete) informação de um livro (book)-->
                    <button class="delete-button" title="delete book" (click)="delete(book._id)">
                        Delete
                    </button>
                </div>

                <!--Cria uma coluna da classe col-md center-->
                <div *ngIf="user" class="col-md center">
                    <!--Cria um butão para a opção de comprar (buy) um livro (book)-->
                    <button class="buy-button" title="buy book" (click)="addToCart(book._id)">
                        Buy
                    </button>
                </div>
            </div>
        
            <!--Cria uma divisão da classe new-book-->
            <div *ngIf="adminOrEmployee" class="new-book">
                <!--Cria um butão para a opção de adicionar um novo livro-->
                <button (click)="createBook()"> Add Book </button>
            </div>

        </div>
    </body>
</html>

