<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Create Book</title>
</head>

<body>
    <form action="/admins/books/create" method="POST" enctype="multipart/form-data">
        <div class="form_create">
            <label>Name: </label>
            <input name="name" id="name" type="text" placeholder="name" required>
        </div>

        <div class="form_create">
            <label>Author: </label>
            <input name="author" id="author" type="text" placeholder="author" required>
        </div>

        <div class="form_create">
            <label>ISBN: </label>
            <input name="isbn" id="isbn" type="text" placeholder="isbn" required>
        </div>

        <div class="form_create">
            <label>Description: </label>
            <input name="description" id="description" placeholder="...description..." type="text" spellcheck="true">
        </div>

        <div class="form_create">
            <label>Cover: </label>
            <input type="file" id="cover" name="cover">
        </div>

        <div class="form_create">
            <label>State: </label>
            <input type="radio" id="new" name="state" value="New">
            <label for="new">New</label>
            <input type="radio" id="used" name="state" value="Used">
            <label for="used">Used</label><br>
        </div>

        <div class="form_create">
            <label>Stock: </label>
            <input type="number" id="stock" name="stock" min="1" max="100">
        </div>
        
        <div class="form_create">
            <button type="submit">Save</button>
        </div>
    </form>
</body>

</html>