<!DOCTYPE html>
<html>
<head>
  <title>MyLibrary</title>
    <% /* %> <link rel="stylesheet" href="/stylesheets/style.css"/> <% */ %>
</head>
<body>
  <h1><a href="/locations">Books</a></h1>
  <h1><a href="/events">Clients</a></h1>
  <h1><a href="/promoters">Employees</a></h1>
  <form action="/promoters/create" method="GET">
    <button type="submit" id="promoterRegis">Register</button>
  </form>
  <form action="/promoters/log" method="GET">
    <button type="submit" id="promoterLog">Log</button>
  </form>
</body>
</html>