<html>
    <head>
        <!--Usar o CSS definido em src/app/Book/book-add/book-add.component.css-->
        <link rel="stylesheet" href="book-add.component.css">
    </head>
    <body>
        <!--Criar uma divisão da classe card definida no CSS (src/app/Book/book-add/book-add.component.css)-->
        <div class="card">
            
            <!--Título do formulário-->
            <h1>Add a Book</h1>

            <!--Criar um formulário da classe intem-form definida no CSS (book-add.component.css)-->
            <div class="item-form">

                <!--Criar um campo de texto da classe txt-field para o nome do livro-->
                <div class="txt-field">
                    <input id="name" placeholder="name" [(ngModel)]="book.name" type="text" required>
                    <label for="name">Name</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para a descrição do livro-->
                <div class="txt-field">
                    <input id="description" placeholder="description" [(ngModel)]="book.description"
                        type="text" required>
                    <label for="description">Description</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o autor do livro-->
                <div class="txt-field">
                    <input id="author" placeholder="author" [(ngModel)]="book.author" type="text"
                        required>
                    <label for="author">Author</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o ISBN do livro-->
                <div class="txt-field">
                    <input id="isbn" placeholder="isbn" [(ngModel)]="book.isbn" type="number" required>
                    <label for="isbn">ISBN</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o preço-->
                <div class="txt-field">
                    <input id="price" [(ngModel)]="book.price" type="number" step='0.01' value='0.00'
                        placeholder='0.00' required>
                    <label for="price">Price</label>
                </div>

                <!--Estado (state) do livro-->
                <h4>State:</h4>

                <div class="rad-field">
                    <input type="radio" name="new" [(ngModel)]="book.state" value="New">
                    <label for="state">New</label>
                </div>

                <!--Criar um campo radio da classe rad-field para o cargo (role)-->
                <div class="rad-field">
                    <input type="radio" name="used" [(ngModel)]="book.state" value="Used">
                    <label for="state">Used</label>
                </div>

                <div class="txt-field">
                    <input id="stock" placeholder="stock" [(ngModel)]="book.stock" type="number" required>
                    <label for="stock">Stock</label>
                </div>

                <!--Título da secção de capa-->
                <h4>Cover</h4>

                <!--Criar um campo da classe center para inserir um ficheiro -->
                <input id="cover" name="cover" type='file' [(ngModel)]="book.cover" 
                    (change)="onFileSelected(book)" (change)="readUrl(book)"><img
                    [src]="url">

                <!--Criar um butão da classe buttons center para adicionar um livro quando selecionado-->
                <button class="buttons center" (click)="add()"> Add </button>

                <!--Criar um butão da classe buttons center para listar livros quando selecionado-->
                <button class="buttons center" (click)="navigateToBooks()"> List Books </button>
            </div>
        </div>
    </body>
</html>

