/*Personalizar a estrutura do formulário de login*/
.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

/*Personalizar a aparência do elemento body*/
body {
    background-color: rgb(224, 224, 224);
}

/*Personalizar a posição de um campo de texto*/
.txt-field-role{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/*Personalizar a aparência de um campo de texto*/
.txt-field-role input{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    height: 10px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*Personalizar a aparência de uma etiqueta (label)*/
.txt-field-role label{
    position: absolute;
    top: 0%;
    left: 5px;
    color: #4fb354;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

/*Personalizar a posição do título do formulário de login*/
.login-card h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

/*Personalizar a posição do formulário de login*/
.login-form {
    padding: 0 40px;
    box-sizing: border-box;
}

/*Personalizar a posição de um campo de texto*/
.txt-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/*Personalizar a aparência de um campo de texto*/
.txt-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*Personalizar a aparência de uma etiqueta*/
.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

/*Personalizar um campo de texto válido*/
.txt-field input:valid ~ label {
    top: -5px;
    color: #4fb354;
}

/*Personalizar a posição de um campo radio*/
.rad-field {
    position: relative;
    margin: 10px 0;
}

/*Personalizar a posição do input de um campo radio*/
.rad-field input {
    padding: 0 5px;
    height: 15px;
    cursor: pointer;
}

/*Personalizar a posição e aparência de uma etiqueta de um campo radio*/
.rad-field label {
    top: 10%;
    left: 5px;
    color: #adadad;
}

/*Personalizar um campo radio válido*/
.rad-field input:valid ~ label {
    top: -5px;
    color: #4fb354;
}

/*Personalizar a aparência de um butão de registo*/
.register-button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #4fb354;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

/*Personalizar a aparência de um butão de registo aquando de hover*/
.register-button:hover {
    border-color: #4fb354;
    transition: 500ms;
}

/*Personalizar a aparência de login*/
.login {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

/*Personalizar a aparência de um butão de login*/
.login-button {
    border: none;
    background: none;
    font-size: 16px;
    color: #4fb354;
    text-align: none;
}

/*Personalizar a aparência de um butão de login aquando de hover*/
.login-button:hover {
    text-decoration: underline;
}

/*Personalizar a aparência do display consoante a largura do ecrã*/
@media screen and (max-width:670px) {
    /*Personalizar a estrutura do formulário de login*/
    .login-card {
        position: absolute;
        top: 90%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 400px;
        min-width: 290px;
        background: white;
        border-radius: 10px;
    }

    /*Define a largura minima dos butões*/
    .buttons {
        min-width: 160px;
    }
}