<html>
    <head>
        <!--Usar o CSS definido em src/app/Registers/register/register.component.css-->
        <link rel="stylesheet" href="register.component.css">
    </head>
    <body>
        <!--Criar uma divisão da classe login-card definida no CSS (src/app/login/login.component.css)-->
        <div class="login-card">

            <!--Título do formulário-->
            <h1>Register</h1>

            <!--Criar um formulário da classe login-form definida no CSS (register/register.component.css)-->
            <div class="login-form">

                <!--Criar um campo de texto da classe txt-field para o nome (name)-->
                <div class="txt-field">
                    <input id="form-name" [(ngModel)]="name" type="text">
                    <label for="form-name">Name</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o email-->
                <div class="txt-field">
                    <input id="form-email" [(ngModel)]="email" type="text">
                    <label for="form-email">Email</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para a palavra passe (password)-->
                <div class="txt-field">
                    <input id="form-password" [(ngModel)]="password" type="password">
                    <label for="form-password">Password</label>
                </div>

                <div class="txt-field">
                    <input id="form-address" [(ngModel)]="address" type="text">
                    <label for="form-address">Address</label>
                </div>

                <!--Criar um campo radio da classe rad-field para o cargo (role)-->
                <div class="rad-field">
                    <input type="radio" name="role" value="User" [(ngModel)]="role">
                    <label for="user">User</label>
                </div>

                <!--<div class="rad-field">
                    <input type="radio" name="role" value="EMPLOYEE" [(ngModel)]="role">
                    <label for="user">Employee</label>
                </div>-->

                <!--Criar um campo radio da classe rad-field para o cargo (role)-->
                <!-- <div class="rad-field">
                    <input type="radio" name="role" value="ADMIN" [(ngModel)]="role">
                    <label for="user">Admin</label>
                </div> -->

                <!--Cria um butão da classe register-button com a opção Register que irá fazer o registo-->
                <button class="register-button" (click)="register()"> Register </button> 

                <!--Cria um butão da classe login-button com a opção Login que irá realizar o login-->
                <div class="login">
                    Already a Member?
                    <button class="login-button" (click)="login()"> Login </button>
                </div>
            </div>
        </div>
    </body>
</html>
