<html>
    <head>
        <!--Usar o CSS definido em src/app/User/user-edit/user-edit.component.css-->
        <link rel="stylesheet" href="user-edit.component.css">
    </head>
    <body>
        <!--Criar uma divisão da classe card definida no CSS (app/User/user-edit/user-edit.component.css)-->
        <div class="card" *ngIf="user">

            <!--Título do formulário-->
            <h1>User Edit</h1>

            <!--Criar um formulário da classe intem-form definida no CSS (user-edit/user-edit.component.css)-->
            <div class="item-form">

                <!--Criar um campo de texto da classe txt-field para o nome (name) do utilizador (user)-->
                <div class="txt-field">
                    <input id="form-place" placeholder="Name" [(ngModel)]="user.name" type="text">
                    <label for="form-place">Name</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o email do utilizador (user)-->
                <div class="txt-field">
                    <input id="form-email" placeholder="Email" [(ngModel)]="user.email" type="text">
                    <label for="form-email">Email</label>
                </div>

                <div class="txt-field">
                    <input id="form-max" placeholder="Address" [(ngModel)]="user.address" type="text">
                    <label for="form-max">Address</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o cargo (role) do utilizador (user)-->
                <div class="txt-field">
                    <input disabled id="form-limit" placeholder="Role" [(ngModel)]="user.role" type="text">
                    <label for="form-limit">Role</label>
                </div>

                <!--Criar um butão da classe button-edit para a opção Edit que irá editar informação de um 
                    utilizaodr-->
                <button class="button-edit" (click)="edit()"> Edit </button>

                <!--Criar um butão da classe buttons para listar utilizadores (users) quando selecionado-->
                <button class="button-navigate" (click)="navigateToUsers()"> List Users </button>
            </div>
        </div>
    </body>
</html>


