<html>
    <head>
        <!--Usar o CSS definido em src/app/Points/points-list/points-list.component.css-->
        <link rel="stylesheet" href="points-list.component.css">
    </head>
    <body>
        <!--Criar uma divisão da classe table definida no CSS (Points/points-list/points-list.component.css)-->
        <div class="table" id="itemTable" *ngIf="points">

            <!--Título da lista-->
            <h1 class="text-center">Number of Points</h1>

            <!--Cria uma divisão da classe row para apresentar o número de pontos-->
            <div class="row">Points Number</div>

            <div class="row" *ngFor="let points; let i=index">
                <div class="col-md-2 center">
                    {{i+1}}
                </div>
                <div class="col-md-2">
                    {{points.amount}}
                </div>
            </div>
        </div>
    </body>
</html>
   