<html>
    <head>
        <!--Usar o CSS definido em src/app/User/user-list/user-list.component.css-->
        <link rel="stylesheet" href="user-list.component.css">
    </head>
    <body>
        <!--Criar uma divisão da classe table definida no CSS (src/app/User/user-list/user-list.component.css)-->
        <div class="table" id="itemTable" *ngIf="users">

            <!--Título da lista-->
            <h1 class="text-center">Users List</h1>
        
            <!--Criar uma linha da classe row-->
            <div class="row">

                <!--Cria uma coluna da classe col-md 2 center-->
                <div class="col-md-2 center"></div>

                <!--Cria uma coluna da classe col-md 2 center para o nome (name) do utilizador (user)-->
                <div class="col-md-2 center"> Name </div>

                <!--Cria uma coluna da classe col-md 2 center para o email do utilizador (user)-->
                <div class="col-md-2 center"> Email </div>

                <!--Cria uma coluna da classe col-md 2 center para o cargo (role) do utilizador (user)-->
                <div hidden class="col-md-2 center"> Role </div>

                <!--Cria colunas da classe col-md 2 center-->
                <div class="col-md-2 center"></div>
                <div class="col-md-2 center"></div>
                <div class="col-md-2 center"></div>
            </div>
        
            <div class="row" *ngFor="let user of users; let i=index;">
                <div class="col-md-2 center">
                    {{i+1}}
                </div>
                <div class="col-md-2 center">
                    {{user.name}}
                </div>
                <div class="col-md-2 center">
                    {{user.email}}
                </div>
                <div hidden class="col-md-2 center">
                    {{user.role}}
                </div>

                <!--Cria uma coluna da classe col-md-2 center-->
                <div class="col-md-2 center">
                    <!--Cria um butão com a opção de ver os detalhes (view details) de um utilizador (user)-->
                    <button class="view-button" title="view product" (click)="view(user._id)">
                        View Details
                    </button>
                </div>

                <!--Cria uma coluna da classe col-md-2 center-->
                <div class="col-md-2 center">
                    <!--Cria um butão com a opção de editar (edit) a informação de um utilizador (user)-->
                    <button class="edit-button" title="edit product" (click)="editUser(user._id)">
                        Edit
                    </button>
                </div>

                <!--Cria uma coluna da classe col-md-2 center-->
                <div class="col-md-2 center">
                    <!--Cria um butão para a opção de apagar (delete) informação de um utilizador (user)-->
                    <button class="delete-button" title="delete product" (click)="delete(user._id)">
                        Delete
                    </button>
                </div>
            </div>
        
            <!--Cria uma divisão da classe new-user-->
            <div class="new-user">
                <!--Cria um butão para a opção de registar um novo utilizador (user)-->
                <button class="item-button text-center" (click)="createUser()">Register User</button>
            </div>   
        </div>
    </body>
</html>
