<html>
    <head>
        <!--Usar o CSS definido em src/app/Book/buy-book/buy-book.component.css-->
        <link rel="stylesheet" href="cart.component.css">
    </head>
    <body>
        <div class="table">
            <div class="card-table">
                <div class="cart-product">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <div class="row">
                                    <!--Cria uma coluna da classe col-md center-->
                                    <div class="col-md center"></div>

                                    <!--Cria uma coluna da classe col-md center para o nome (name) do livro (book)-->
                                    <div class="col-md center">
                                        Name
                                    </div>

                                    <div class="col-md center">
                                        Price
                                    </div>
                                </div>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="row" *ngFor="let book of books; let i = index">
                                <div class="col-md center">
                                    {{i+1}}
                                </div>
                                <div class="col-md center">
                                    {{book.name}}
                                </div>
                                <div class="col-md center">
                                    {{book.price}}
                                </div>
                                <div class="col-md center">
                                    <button class="delete-button" title="delete product"
                                        (click)="removeItem(book._id)">
                                            Delete
                                    </button>
                                </div>
                                <div class="col-md center" colspan="4"></div>
                                <div class="col-md center"><button (click)="emptycart()">Empty Cart</button></div>
                                <div class="col-md center"><button routerLink="/books">Shop More</button></div>
                                <div class="col-md center"><button routerLink="/points"> Checkout</button></div>
                                <!--<div class="col-md center"><strong>Grand Total : €{{grandTotal}}</strong></div>-->
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <!--Caso o carrinho de compras (shopping cart) esteja vazio-->
        <ng-container *ngIf="books.length ==0">
            <div class="container">
                <div class="card">
                    <h5>My Cart</h5>
                </div>
                <div class="center">
                    <h4>Your cart is empty!</h4>
                    <h6>Add a book to it now</h6>
                    <button routerLink="/books">Shop Now</button>
                </div>
            </div>
        </ng-container>
    </body>
</html>