<!--Criar uma divisão da classe login-card definida no CSS (register/register-admin.component.css)-->
<div class="login card">

    <!--Título do formulário-->
    <h1 class="text-center">Register</h1>

    <!--Criar um formulário da classe login-form definida no CSS (register/register-admin.component.css)-->
    <div class="login-form">
        <label for="form-email">Name</label>
        <input required id="form-email" placeholder="Name" [(ngModel)]="name" type="text">
        <label for="form-email">Email</label>
        <input required id="form-email" placeholder="Email" [(ngModel)]="email" type="text">
        <label for="form-password">Password</label>
        <input required id="form-password" placeholder="Password" [(ngModel)]="password" type="password">
        <label for="form-role">Role</label>
        <input disabled id="form-role" placeholder="ADMIN" value="ADMIN" [(ngModel)]="role" type="text">

        <!--Cria um butão da classe register-button com a opção Register que irá fazer o registo-->
        <button class="login-button" (click)="register()"> Register </button>

        <!--Cria um butão da classe login-button com a opção Login que irá realizar o login-->
        <button class="login-button" (click)="login()"> Login </button>
    </div>
</div>

<!--Cria um butão da classe item-button text-center com a opção Back que irá voltar ao URL anterior-->
<button class="item-button text-center" (click)="back()">Back</button>

