<html>
    <head>
        <!--Usar o CSS definido em src/app/Book/book-edit/book-edit.component.css-->
        <link rel="stylesheet" href="book-edit.component.css">
    </head>
    <body>
        <!--Criar uma divisão da classe card definida no CSS (Book/book-edit/book-edit.component.css)-->
        <div class="card" *ngIf="book">

            <!--Título do formulário-->
            <h1>Book Edit</h1>

            <!--Criar um formulário da classe intem-form definida no CSS (book-edit.component.css)-->
            <div class="item-form">

                <!--Criar um campo de texto da classe txt-field para o nome do livro-->
                <div class="txt-field">
                    <input type="text" name="form-name" id="form-name" [(ngModel)]="book.name"/>
                    <label for="form-name">Name</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para a descrição do livro-->
                <div class="txt-field">
                    <input  type="text" name="form-description" id="form-description" 
                        [(ngModel)]="book.description">
                    <label for="form-description">Description</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o nome do autor do livro-->
                <div class="txt-field">
                    <input  type="text" name="form-author" id="form-author" [(ngModel)]="book.author">
                    <label for="form-author">Author</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o ISBN do livro-->
                <div class="txt-field">
                    <input type="text" name="form-isbn" id="form-isbn" [(ngModel)]="book.isbn">
                    <label for="form-isbn">ISBN</label>
                </div>

                <!--Criar um campo de texto da classe txt-field para o preço do livro-->
                <div class="txt-field">
                    <input type="text" name="form-price" id="form-price" [(ngModel)]="book.price">
                    <label for="form-price">Price</label>
                </div>

                <h4>State:</h4>

                <div class="rad-field">
                    <input type="radio" name="new" [(ngModel)]="book.state" value="New">
                    <label for="state">New</label>
                </div>

                <!--Criar um campo radio da classe rad-field para o cargo (role)-->
                <div class="rad-field">
                    <input type="radio" name="used" [(ngModel)]="book.state" value="Used">
                    <label for="state">Used</label>
                </div>

                <div class="txt-field">
                    <input id="stock" placeholder="stock" [(ngModel)]="book.stock" type="number" required>
                    <label for="stock">Stock</label>
                </div>

                <!--Título da secção de capa-->
                <h4>Cover</h4>

                <input type='file' name="cover" [(ngModel)]="book.cover" 
                    (change)="onFileSelected(book)" (change)="readUrl(book)"><img class="center" [src]="url">
                <img class="center" src="{{book.cover}}" type="image">

                <!--Apresentar a opção Edit que irá permitir editar informação de um livro (book)-->
                <button class="buttons center" (click)="edit()"> Edit </button>
                <!--Apresentar a opção List Books que irá apresentar informação de todos os livros (books)-->
                <button class="buttons center" (click)="navigateToBooks()"> List Books </button>  
            </div>
        </div>
    </body>
</html>