<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Título do separador-->
  <title>PAWbrary</title>

  <!--Usar o CSS definido em public/stylesheets/style.css-->
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  
  <!--Título principal com a mensagem de erro-->
  <h1 class="Error" id="Error_Message">
    <%= message %>
  </h1>

  <!--Título secundário com o estado do erro-->
  <h2 class="Error" id="Error_Status">
    <%= error.status %>
  </h2>
  
  <pre class="Error" id="Error_Stack"><%= error.stack %></pre>
</body>
</html>