<!DOCTYPE html>
<html>
<head>
  <!--Título do separador-->
  <title>PAWbrary</title>

  <!--Usar o CSS definido em public/stylesheets/style.css-->
  <% /* %> <link rel="stylesheet" href="/stylesheets/style.css"/> <% */ %>
</head>
<body>
  <h1><a href="/books">Books</a></h1>
  <h1><a href="/clients">Clients</a></h1>
  <h1><a href="/employees">Employees</a></h1>
  <form action="employees/create" method="GET">
    <button type="submit" id="employeeRegist">Register</button>
  </form><br>
  <form action="/employees/log" method="GET">
    <button type="submit" id="employeeLog">Log</button>
  </form>
</body>
</html>